.card {
    cursor: pointer;
}

.custom-container {
    height: 100vh;
}

.lg-img {
    height: 128px;
    width: 128px;
}

.list {
    overflow-y: auto;
}

.option-separator {
    border-bottom: "1px solid black";
    line-height: "0.1em";
    margin: "100px 0";
    text-align: center;
    width: "100%";
}

.separator-text {
    background: "white"; 
    padding: "0 10px";
}

.sm-img {
    height: 64px;
    width: 64px;
}